@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --background: #DDF4E7;
  --foreground: #DDF4E7;
  --primary: #187068;
  --primary-bold: #13463d;
  --secondary: #67AE6E;
  --tertiary: #90C67C;
  --extra: #E1EEBC;
  --error: #F44336;
  --success: #28a745;
  --form-background: #DDF4E7;
}

a {
  font-weight: 500;
  color: var(--primary-bold);
  text-decoration: inherit;
}
a:hover {
  color: var(--primary);
}

body {
  margin: 0;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--primary-bold);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--primary);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
  }
  a:hover {
    color: var(--primary);
  }
  button {
    background-color: var(--background);
  }
}
